In [ ]:
x = [(1,2,3),{1,1,1,2},“This Question is Easy Please don’t skip it”,3.14] -- object 10, name= 1

In [ ]:
#Immutibility

IMMUTABLE : int,float,str,tuple,nonetype
MUTABLE : list,set,dict
    
x=10
y=20

In [3]:
a = ([1,2,3],4)
a[0][0]=10
a[0][1]=20
a[0][2]=30
print(a)
a[0].append(40)
print(a)

([10, 20, 30], 4)
([10, 20, 30, 40], 4)

In [2]:
tuple1=(0,1,2,3)
tuple1[0]=4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [7]:
s = "Welcome to Edyoda"
print(s[0])
s[0]='p'
print(s)

W

TypeError: 'str' object does not support item assignment

In [12]:
import cmath

In [14]:
x= complex(4,5)
print(x)

(4+5j)

In [ ]:
len()------ used to find the length of some datatype.

In [19]:
list1 = [1,2,3,4,5,6,7,8,9,0]
set1= set(list1)
print(set1)
list2 = list(set1)
print(list2)
print(len(list2))
len(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10

10

In [21]:
#Conversion dict to set

dict1 = {'python':3,'java':8}
set1 = set(dict1)
print(set1)

dict2=dict(set1)
print(dict2)

{'java', 'python'}

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [24]:
x = [('python',3),('java',8)]
dict1 = dict(x)
print(dict1)

{'python': 3, 'java': 8}

In [32]:
dict1 = {'python':3,'java':8}
dict1.values()
len(dict1)
set(dict1.values())
print(dict1.keys())
print(dict1.items())

dict_keys(['python', 'java'])
dict_items([('python', 3), ('java', 8)])

In [ ]:
Note:- 1.Any datatype can be converted to string.
       2.Set don't have indexing.

In [ ]:
#How are object stores in memory location
1.primitype datatypes:-- basic datatypes which are simpler to store ----> int , float, bool, none, str
2.Built-in Datatypes:--- which are like collection and take up seperate memory---->list,set,dict,tuple

In [ ]:
#Operators in Python
1.Arithmetic operator ------ +,-,*,/,%,**,//
2.Logical operator ------- and(return true if both statements are true), or(return true if one of the statements is true), not
                           (reverse the result, returns flase if the result is true or vice-versa)
3.Identity operator ------ is (returns true if both variables are the same object), is not (returns true if both variables are 
                                                                                            not the same object )
4.Membership operator ----- in(found), not in(not found) ----- finding the element from a sequence
5.Comparison operator------- ==,<,>,<=,>=,!=
6.Assignment operator ------------ =,+=,-=,*=,/=,//=,%=,**=
7.Bitwise operator ------- &,|,^,~,<<,>>

In [62]:
print(3<<2)  #------- 3 ==0000000000000011
                      0000000000001100 = 12

12

In [ ]:
/- proper division
//- rounded value to nearest whole number

In [34]:
x=12
y=3
print(x/y)

4.0

In [36]:
x=15
y=2
print(x/y)

7.5

In [37]:
x=15
y=2
print(x%y)

1

In [39]:
x=2
y=3
print(x**y)

8

In [50]:
#Logical Operator
x = 5
print(x > 3 and x < 18)
print(x > 3 or x < 18)
print(not(x > 3 and x < 18))

True
True
False

In [53]:
#Identity Opeartor ---- will check the id of variables is equal or not
x = ['apple','banana']
y = ['apple','banana']
z = x
print(x is y)
print(x is z)
print(x==y)

False
True
True

In [54]:
x = ['apple','banana']
y = ['apple','banana']
z = x
print(x is not y)
print(x is not z)
print(x!=y)

True
False
False

In [55]:
x = ['apple','banana']
print("banana" in x)

True

In [58]:
x = ['apple','banana']
print("pineapple"not in x)

print("apple" not in x)

True
False

In [59]:
x=2
y=3
print(x==y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(x!=y)

False
False
True
True
False
True

In [60]:
#Assignment Operator
x = 2
print(x)

2

In [61]:
x+=2 ---------x = x+2
print(x)

4

In [ ]:
x-=2------>x=x-2

In [ ]:
#Operator Precedence
It describes the oder in which the operation are going to be performed

In [63]:
print((6+3)-(6+3))

0

In [64]:
print(100+5*3)

115

In [ ]:
Preferences:-
    ()
    **
    +x,-x,~x
    *,/,//,%
    +-
    <<,>>
    &
    ^
    |
    comparison,identity,membership
    not
    and
    or